.exam .timer {
    border: 1px solid #E6E6E6;
    background-color: rgba(255,255,204,0.5);
    position: fixed;
    right: 10px;
    top: 70px;
    border-radius: 2px;
    width: 200px;
}

.exam #clock {
    font-size: 16px;
    font-weight: bold;
    border: none !important;
    background-color: inherit !important;
}

.is-countdown {
    border: 1px solid #ccc;
    background-color: #eee;
}

.countdown-row {
    clear: both;
    width: 100%;
    padding: 0px 2px;
    text-align: center;
}

.countdown-section {
    display: block;
    float: left;
    font-size: 75%;
    text-align: center;
}

.countdown-show3 .countdown-section {
    width: 32.5%;
}

.countdown-amount {
    font-size: 200%;
}

.countdown-period {
    display: block;
}